doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content.openings
        include ../partials/header.pug
        section.left-aligned-header.chapter
            .header-container
                h1 Find your place to craFT
                p Your perspective will help us make great things happen.
        section.epigraph.chapter
            h2 We are always on the lookout for talent for the following roles
        each opening, key in openings
            section.vacancy
                .heading
                    input.hidden-input(id=`${opening.id}` type="checkbox")
                    .section-line
                    label(for=`${opening.id}`) #{opening.title}
                        i
                    .table
                        .section-header
                        .left
                            p.bolder #{opening.details.level.title}
                            p #{opening.details.level.text}
                        .right
                            p.bolder #{opening.details.profession.title}
                            p #{opening.details.profession.text}
                        hr
                        .left
                            p.bolder #{opening.details.type.title}
                            p #{opening.details.type.text}
                        .right
                            p.bolder #{opening.details.location.title}
                            p #{opening.details.location.text}
                        hr
                        .left
                            p.bolder #{opening.details.description.title}
                        .right
                            .description
                                each line in opening.details.description.about
                                    p #{line}
                                .list
                                    - const responsibilities = opening.details.description.responsibilities
                                    if responsibilities
                                        p.mini-header #{responsibilities.title}
                                        ul
                                            each line in responsibilities.list
                                                li #{line}
                                .list
                                    - const requirements = opening.details.description.requirements
                                    if requirements
                                        p.mini-header #{requirements.title}
                                        ul
                                            each line in requirements.list
                                                li #{line}
                                .list
                                    - const additionalRequirements = opening.details.description.additionalRequirements
                                    if additionalRequirements
                                        p.mini-header #{additionalRequirements.title}
                                        ul
                                            each line in additionalRequirements.list
                                                li #{line}
                                p #{opening.details.description.conclusion}
                                .buttons
                                    form(action="form.html")
                                        button Express an interest
        section.vacancy(id="current-openings")
            .live-vacancies
                .section-line
                a(href="https://ft.wd3.myworkdayjobs.com/FT_External_Careers/9/refreshFacet/318c8bb6f553100021d223d9780d30be" target="_blank") Live vacancies
        include ../partials/footer.pug
