doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content
        include ../partials/header.pug
        section.intro
            .heritage-logo-container
                img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.logo}`, role='presentation')
            h1 Find your place to craFT
            hr
            p Your perspective will help us make great things happen.
        section.epigraph
            h2 We are always on the lookout for talent for the following roles:
        each opening, key in openings
            section.vacancy
                .heading
                    input.hidden-input(id=`${opening.id}` type="checkbox")
                    .section-line
                    label(for=`${opening.id}`) #{opening.title}
                        i
                    .table
                        .section-header
                        .left
                            p.bolder #{opening.details.level.title}
                            p #{opening.details.level.text}
                        .right
                            p.bolder #{opening.details.profession.title}
                            p #{opening.details.profession.text}
                        hr
                        .left
                            p.bolder #{opening.details.type.title}
                            p #{opening.details.type.text}
                        .right
                            p.bolder #{opening.details.location.title}
                            p #{opening.details.location.text}
                        hr
                        .left
                            p.bolder #{opening.details.description.title}
                        .right
                            .description
                                each line in opening.details.description.about
                                    p #{line}
                                .list
                                    - const responsibilities = opening.details.description.responsibilities
                                    if responsibilities
                                        p.mini-header #{responsibilities.title}
                                        each line in responsibilities.list
                                            p #{line}
                                .list
                                    - const requirements = opening.details.description.requirements
                                    if requirements
                                        p.mini-header #{requirements.title}
                                            each line in requirements.list
                                                p #{line}
                                .list
                                    - const additionalRequirements = opening.details.description.requirements
                                    if additionalRequirements
                                        p.mini-header #{additionalRequirements.title}
                                            each line in additionalRequirements.list
                                                p #{line}
                                p #{opening.details.description.conclusion}
                                .buttons
                                    form(action="form.html")
                                        button Apply now
        section.vacancy(id="current-openings")
            .heading
                .section-line
                h2 Live Vacancies
                a(href="https://ft.wd3.myworkdayjobs.com/FT_External_Careers/9/refreshFacet/318c8bb6f553100021d223d9780d30be" target="_blank") See our current live roles here
        include ../partials/footer.pug
