doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product and Technology
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    div.content
        nav.menu
            img.central-logo(src=`images/${intro.logo}`, alt=`{intro.logo}`, role='presentation')
            p Current openings
        section.intro
            div.heritage-logo-container
                img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.logo}`, role='presentation')
            h1 Find your place to craFT
            hr
            p Your perspective will help us make great things happen.
        section.epigraph
            h2 We are always on the lookout for talent for the following roles in Product and Technology:
        section.vacancy
            each vacancy, key in positions
                div.heading(class='heading-'+key)
                    input.hidden-input(id="vacancy-"+key type="checkbox")
                    div.section-line
                    label(for="vacancy-"+key)= vacancy.profession.text
                    i
                    div.table
                        div.section-header
                        div.left
                            p.bolder Level
                            p= vacancy.level.text
                        div.right
                            p.bolder Profession
                            p= vacancy.profession.text
                        hr
                        div.left
                            p.bolder Type
                            p= vacancy.type.text
                        div.right
                            p.bolder Location
                            p= vacancy.location.text
                        hr
                        div.left
                            p.bolder Description
                        div.right
                            div.description
                                each paragraph in vacancy.description.about
                                    p= paragraph
                                div.list
                                    p.mini-header= vacancy.description.responsibilities.title
                                    each listItem in vacancy.description.responsibilities.list
                                        li= listItem
                                div.list
                                    p.mini-header= vacancy.description.requirements.title
                                    each listItem in vacancy.description.requirements.list
                                        li= listItem
                                div.additionalInformation
                                    p= vacancy.description.additionalInformation.text
                                p= vacancy.conclusion.text
                                div.buttons
                                    form(action="form.html")
                                        button Apply now
        section.vacancy
            div.heading
                div.section-line
                h2 Check our live roles
                p We are looking for someone to develop the already excellent Network team, supporting the team on the journey to infrastructure as code.  Someone who is passionate about delivering an exceptional service in an ever-changing, dynamic, fun and friendly environment, where taking the initiative and trying new things is encouraged.
                a(href='https://ft.wd3.myworkdayjobs.com/FT_External_Careers/9/refreshFacet/318c8bb6f553100021d223d9780d30be') See our current live roles
        footer
            hr
            p= footer.text
