doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content.openings
        include ../partials/header.pug
        section.left-aligned-header.chapter
            .header-container
                h1 Find your place to craFT
                p Your perspective will help us make great things happen.
        section.epigraph.chapter
            h2 We are always on the lookout for talent for the following roles
        each opening in openings
            section.vacancy
                .heading
                    input.hidden-input(id=`${opening.id}` type="checkbox")
                    .section-line
                    label(for=`${opening.id}`) #{opening.title}
                        i
                    .table
                        .section-header
                        .left.top
                            p.bolder.lefter #{opening.details.level.title}
                            p.righter #{opening.details.level.text}
                        .right.top
                            p.bolder.lefter #{opening.details.profession.title}
                            p.righter #{opening.details.profession.text}
                        hr.not-on-mobile-2
                        .left.top
                            p.bolder.lefter #{opening.details.type.title}
                            p.righter  #{opening.details.type.text}
                        .right.top
                            p.bolder.lefter #{opening.details.location.title}
                            p.righter #{opening.details.location.text}
                        hr
                        .left
                            p.bolder #{opening.details.description.title}
                        .right
                            .description
                                each section in opening.details.description.details
                                    p.bolder #{section.title}
                                    each line in section.list
                                        p #{line}
                                .buttons
                                    form(action="form.html")
                                        button Express an interest
        section.vacancy(id="current-openings")
            .live-vacancies
                .section-line
                a(href="https://ft.wd3.myworkdayjobs.com/FT_External_Careers/9/refreshFacet/318c8bb6f553100021d223d9780d30be" target="_blank") Live vacancies
        include ../partials/footer.pug
