include ../partials/head.pug
  body
    .content
        include ../partials/menu.pug
        section.intro
            .heritage-logo-container
                img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.logo}`, role='presentation')
            h1 Search for your next role
            hr
            p You are part of a team that effects stock markets, influences wars and breaks down barriers
        section.epigraph
            h2 We are always on the look out for the following roles
        each oppening in oppenings
            section.vacancy
                .heading
                    input.hidden-input(id=`${oppening.id}` type="checkbox")
                    .section-line
                    label(for=`${oppening.id}`) #{oppening.title}
                    i
                    .table
                        .section-header
                        .left
                            p.bolder #{oppening.details.level.title}
                            p #{oppening.details.level.text}
                        .right
                            p.bolder #{oppening.details.profession.title}
                            p #{oppening.details.profession.text}
                        hr
                        .left
                            p.bolder #{oppening.details.type.title}
                            p #{oppening.details.type.text}
                        .right
                            p.bolder #{oppening.details.location.title}
                            p #{oppening.details.location.text}
                        hr
                        .left
                            p.bolder #{oppening.details.description.title}
                        .right
                            .description
                                each line in oppening.details.description.about
                                    p #{line}
                                .list
                                    p.mini-header #{oppening.details.description.responsibilities.title}
                                    each line in oppening.details.description.responsibilities.list
                                        p #{line}
                                .list
                                    p.mini-header #{oppening.details.description.requirements.title}
                                        each line in oppening.details.description.requirements.list
                                            p #{line}
                                p #{oppening.details.description.conclusion}
                                .buttons
                                    form(action="form.html")
                                        button Apply now                
        section.vacancy(id='current-openings')
            .heading
                .section-line
                h2 Check our live roles
                p We are looking for someone to develop the already excellent Network team, supporting the team on the journey to infrastructure as code.  Someone who is passionate about delivering an exceptional service in an ever-changing, dynamic, fun and friendly environment, where taking the initiative and trying new things is encouraged.
                a(href='https://ft.wd3.myworkdayjobs.com/FT_External_Careers/9/refreshFacet/318c8bb6f553100021d223d9780d30be') See our current live roles
        footer
            hr
            p #{footer.text}
