doctype html
html(lang="en")
  include partials/head.pug
  body
    .content
        section.intro.front-page
            .heritage-logo-container
                img.heritage-logo.fade-out-animation(src=`images/${intro.heritage_logo}`, alt=`${intro.logo}`, role="presentation")
            .header-container
                img.central-logo.fade-in-animation(src=`images/${intro.logo}`, alt=`${intro.logo}`, role="presentation")
                h1.fade-in-animation #{intro.heading}
                hr.fade-in-animation
                p.fade-in-animation #{intro.subheading}
        nav.menu
            each val in menu.items
                li.menu__item
                    a(href=val.link)=val.text
        section.about.chapter(id="about")
            .announcement
                .section-line
                h2 #{about.title}
                p #{about.text}
        section.video
            .video-wrapper.content
                video(width="1440" height="800" src=`${video.link}`)
        section.culture.chapter(id="culture")
            .announcement
                .section-line
                h2 #{culture.title}
                p #{culture.text}
            .culture-cards
                each card in culture.cards
                    .culture-card
                        img(src=`images/${card.image}`, alt=`${card.title}`, role="presentation")
                        h4 #{card.title}
                        p #{card.text}
        section.quotes
            .chapter
                .quote
                    h1 #{quotes[0].quote}
                    hr
                    p #{quotes[0].author}
        section.people.chapter(id="people")
            .announcement
                .section-line
                h2 #{people.title}
                p #{people.text}
            .interviews
                each video,index in people.videos
                    .interview(class="interview-"+index)
                        img(src=`images/${video.image}`)
        section.benefits.chapter(id="benefits")
            .announcement
                .section-line
                h2 #{benefits.title}
            .benefits-cards
                each card, index in benefits.cards
                    .benefits-card(class="benefit-"+index)
                        hr(align="left")
                        h3 #{card.title}
                        p #{card.text}
        section.apply
            .question
                h2 #{apply.title}
                p #{apply.text}
                a(href="openings.html") #{apply.button}
        include partials/footer.pug
